
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   
    <ul class="navbar-nav">
        <li class="nav-item">
            <a [routerLink]="''" class="nav-link">Početna</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'druga'" class="nav-link">Druga</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'drzave'" class="nav-link">Države</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'drzaveForm'" class="nav-link">DržaveForm</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'drzaveReactivForm'" class="nav-link">DržaveReactiveForm</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'zaposleni'" class="nav-link">Zaposleni</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'listaZaposleni'" class="nav-link">Lista Zaposleni</a>
        </li>
    </ul>

</nav>