<h4>Unesite podateke o novom zaposlenom</h4>

<form [formGroup]="zaposleniForm" (ngSubmit)="onSubmit()">

    
    <input class="form-control" type="text" placeholder="Unesite ime i prezime zaposlenog" formControlName="ime">
    <input class="form-control" type="number" placeholder="Unesite godine zaposlenog" formControlName="starost">
    <input  class="form-control" type="text" placeholder="Unesite radno mjesto zaposlenog" formControlName="radnoMjesto">

    <button type="submit" class="btn btn-primary">Snimi</button>

</form>